.cart-container img {
  width: 100px;
  margin-right: 10px;
}

.card {
  margin-bottom: 15px;
  margin-right: 10px;
  width: 100px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
}
